<!DOCTYPE html>
html(lang="es")
    head
        include ./partials/head        
    body.login
        .contenedor-formulario
            h1=title
                if typeof(message) === 'string'
                    .error.alerta
                        p= message

            form.caja-login(method="POST")
                .campo
                    label(for="password")
                    input(type="password" id="password" name="password" placeholder="Ingresa tu contraseña")
                .campo
                    label(for="password2")
                    input(type="password" id="password2" name="password2" placeholder="Repite tu contraseña")

                .campo.enviar
                    input(type="submit" value="Restablecer").boton