<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style
            include ./email.css        
    body
        h2 Confirma tu cuenta
        p Para avanzar en el proceso de confirmación de tu cuenta, de contraseña debes darle un click al link que se encuentra en la parte inferior
        a(href=`${url}`) Confirmar cuenta
        p Si tienes problemas visitanos a #{url}